body {
      margin: 0;
      padding: 0;
      background: #0b0b0b;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      color: #fff;
    }

    .titulo {
      text-align: center;
      margin-bottom: 40px;
      font-size: 25px;
      color: #ffcc00;
    }
    
    form input {
      width: 95%;
      padding: 13px;
      margin: 12px 0;
      border: 1px solid #ffffff;
      outline: none;
      background: #0d0d0d;
      color: #fff;
      border-radius: 6px;
      font-size: 17px;
      transition: 0.3s;
    }

    form input:focus {
      border-color: #ffcc00;
      background: #111;
    }

    form button {
      width: 100%;
      padding: 13px;
      margin-top: 15px;
      border: none;
      border-radius: 6px;
      background: #ffcc00;
      color: #000;
      font-size: 17px;
      cursor: pointer;
      transition: 0.3s;
      font-weight: bold;
    }

    form button:hover {
      background: #096e05;
    }

    #msgLogin {
      margin-top: 15px;
      font-size: 16px;
      text-align: center;
    }