body {
      font-family: Arial, sans-serif;
      background: #ece9e9;
      margin: 0;
      padding: 20px;
    }

    header {
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 15px 25px;
      background: #000000;
      border-radius: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    }

    header img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }

    header h1 {
      font-size: 30px;
      margin: 0;
      font-weight: 600;
      color: rgb(231, 213, 110);
      display: flex;
      align-items: center;
      
    }

    h1 {
      text-align: center;
      color: rgb(0, 0, 0);
    }

    .container {
      max-width: 900px;
      margin: auto;
      background: #fff;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
      margin-bottom: 25px;
    }

    input, button {
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #bbb;
    }

    button {
      grid-column: span 3;
      background: #000000;
      color: rgb(255, 217, 0);
      cursor: pointer;
      border: none;
      transition: 0.5s;
      font-size: 17px;
      box-shadow: #6b0a0a 0px 0px 6px;
    }

    button:hover {
      background: rgb(255, 217, 0);
      color: #000000;
      font-family: Arial, sans-serif;
      font-size: 17px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
    }

    th {
      background: #000000;
      color: rgb(231, 213, 110);
    }

    .total-box {
      margin-top: 20px;
      padding: 15px;
      background: #222;
      color: white;
      border-radius: 8px;
      font-size: 18px;
    }